.flex-columns{
    flex-direction: column;
}
#devis{
    width: 70%;
    margin: 1em auto;
    border: solid 2px black;
    
}
#devis fieldset{
    margin: 1em;
    border: solid 2px red;
    background-color: rgb(203, 202, 202);
}
.form-element{
    padding: 1%;
    padding-left: 1em;
}
.form-element-title{
    width: 30%;
}
.form-element-choices{
    width: 70%;
}