.flex-columns{
    flex-direction: column;
}
.devis{
    padding: 1em 0;
}
.devis-form{
    width: 70%;
    border: solid 2px black;
    margin: 0 auto;
}
.devis fieldset{
    margin: 1em;
    border: solid 2px red;
    background-color: rgb(203, 202, 202);
}
.form-element{
    padding: 1%;
    padding-left: 1em;
}
.form-element-title{
    width: 30%;
}
.form-element-choices{
    width: 70%;
}