/* ========================================================
    CONFIGURATIONS
========================================================= */
.flex{
    display: flex;
}
.txt-center{
    text-align: center;
}
/* ========================================================
    HEADER ET NAVIGUATION
========================================================= */
header{
    position: relative;
    height: 15%;
}
.header-one{
    width: 25%;
}
#logo-gaumart{
    margin-left: 50px;
    height: 95%;
}
h1{
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.875rem;
    margin-top: 10px;
    color: #F68704;
} 
h1>span{
    color: #192126;
}
nav{
    width: 75%;
    align-items: flex-end;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
li a{
    color: #4C5258;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0 1em;
    padding-top: 0.7em;
    /* border: solid 2px black; */
}