/* ========================================================
    CONFIGURATIONS
========================================================= */
.flex{
    display: flex;
}
.txt-center{
    text-align: center;
}
/* ========================================================
    HEADER ET NAVIGUATION
========================================================= */
header{
    align-items: center;
    flex-direction: column;
    height: 15%;
    background-image: url(/img/header.jpeg);
    background-size: 100%;
    border-bottom: solid white 2px;
}
#logo-gaumart{
    margin-top: 2em;
    height: 95%;
}
h1{
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.875rem;
    margin-top: 1em;
    color: #F68704;
}

nav{
    margin-top: 8em;
    margin-bottom: 5em;
    width: 85%;
    align-items: center;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
li a{
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0 1em;
    padding-top: 0.7em;
    background-color: white;
}