/* ========================================================
    CONTENUE PRINCIPALE
========================================================= */
body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
}
footer p{
    margin-top: 1.8em;
    line-height: 1.2;
}
main{
    border-bottom: solid 2px black;
}
/* ========================================================
    SECTION PETIT DEJEUNER
========================================================= */
#petit-dejeuner{
    height: 350px;
    background-color: rgb(25, 25, 25);
    color: white;
    align-items: center;
    justify-content: space-around;
}
.dej-content, .plateau-content{
    width: 40%;
    border: solid 3px white;
}
.dej-content p{
    margin-bottom: 1em;
}
.dej-img, .plateau-img{
    width: 50%;
    background-image: url(/img/dejeuner.jpg);
    background-size: 100%;
    border: solid 3px white;
}
/* ========================================================
    SECTION PLATEAU REPAS
========================================================= */
#plateau-repas{
    height: 350px;
    background-color: rgb(208, 205, 205);
    color: black;
    align-items: center;
    justify-content: space-around;
}
/* ========================================================
    SECTION BUFFETS
========================================================= */
#buffets{
    height: 350px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-around;
}
/* ========================================================
    SECTION COCKTAILS
========================================================= */
#cocktails{
    height: 350px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: space-around;
}
/* ========================================================
    SECTION MENUS
========================================================= */
#menus{
    height: 500px;
    background-color: black;
    color: white;
}
/* ========================================================
    SECTION CONTACTS
========================================================= */
#nous-contactez{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    border-bottom: solid black 2px;
    background-color: white;
}
.informations, .formulaire{
    width: 50%;
}
.contacts{
    margin-top: 3em;
    font-size: 1.1em;
}
.contacts span{
    color: #E16432;
}
.ask-devis{
    font-size: 1.6em;
    font-weight: 600;
}
.ask-devis a{
    text-decoration: none;
    color: #DC5514;
}
/* ========================================================
    CONTENUE CONTACTS FORMULAIRE
========================================================= */
input:not(:last-child){
    width: 50%;
    padding: 1%;
    padding-left: 20px;
}
input:not(:first-child){
    margin-top: 2em;
}
textarea{
    width: 75%;
    padding: 1%;
    padding-left: 20px;
    height: 100px;
    margin-top: 2em;
}
input:last-child{
    background-color: black;
    color: white;
    padding: 0.5em 0.9em;
    border-radius: 20px;
}



















/* ========================================================
    FOOTER
========================================================= */
footer{
    height: 15%;
}
.big{
    font-weight: 800;
    font-size: 1.25rem;
}
footer p{
    margin: 0.5em 0;
}
footer a{
    text-decoration: none;
    color: black;
}